    a{
    
    text-decoration: none;
    
    color: none;
    
    }
    
    a:hover{
    
    text-decoration: none;
    
    color: #666666;
    
    }
    
    a:visited{
    
    text-decoration: none;
    color: white;
    
    }